# Build files
*.exe
*.lib
*.ilk
*.map
*.o
*.obj
*.pdb
*.d
*.a
*.exe
*.out
*.stackdump
*.ico
*.sdf
*.res
*.sln
*.vs
*.bmp
*.opendb
*.bak
build/*

# release files
release/

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap
*.csv

# Sound files
*.wav
*.mp3
*.midi
*.mid

# Image files
*.png
*.jpg
*.gif
*.bmp

# data files
*.dat
*.pdf

# Tempolary files
*temp*
~*
*~
'*
*'
